Options -Indexes

RewriteEngine On
RewriteCond %{ENV:HTTPS} !on
RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Пожалуйста, активируйте следующую директиву и замените
# LOGIN на Ваш реальный логин в системе, если Вы используете
# локальный конфигурацинный файл php.ini

# SetEnv PHPRC /home/LOGIN
