Options -Indexes

# Пожалуйста, активируйте следующую директиву и замените
# LOGIN на Ваш реальный логин в системе, если Вы используете
# локальный конфигурацинный файл php.ini

# SetEnv PHPRC /home/LOGIN
